<div class="container-fluid">
    <div class="row">
        <div class="col py-5 mx-auto costumer-header">
            <a class="title ml-5"> Tv Show Web App</a>
        </div>
    </div>
    <div class="row justify-content-center color-body">
        <div class="col-md-4 my-auto">
            <div class="row justify-content-center py-4">
                <div class="col-md-5 p-3 m-2 costumer text-center">
                    <app-latest-tv-show-list></app-latest-tv-show-list>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row justify-content-center py-4">
                <div class="col-md-3 p-3 m-2 costumer text-center">
                    <app-most-rated-tv-show></app-most-rated-tv-show>
                </div>
                <div class="col-md-3 p-3 m-2 costumer text-center">
                    <app-popular-tv-show-list></app-popular-tv-show-list>
                </div>
                <div class="col-md-3 p-3 m-2 costumer text-center">
                    <app-tv-airing-today-list></app-tv-airing-today-list>
                </div>
            </div>  
        </div>
    </div>   
</div>